-#= search_form_for @search, url: url_for(:action => :search), html: {method: :post} do |f|
= search_form_for @search, url: collection_path, html: {method: :get} do |f|
  - setup_search_form f
  %fieldset
    %legend Sorting
    = f.sort_fields do |s|
      = render 'admin/shared/search/sort_fields', f: s
    = button_to_add_fields "Add Sort", f, :sort
  %fieldset
    %legend Condition Groups
    = f.grouping_fields do |g|
      = render 'admin/shared/search/grouping_fields', f: g
    = button_to_add_fields "Add Condition Group", f, :grouping
  = label_tag :distinct, 'Return distinct records?'
  = check_box_tag :distinct, '1', params[:distinct].to_i == 1
  = f.submit