.central_module.explorer
  .places
    .black_module
      %h1 Места
      .buttons
        .button_gray.active
          .left
          .middle
            %a{:href => '#'} Рекомендуемые
          .right
        .button_gray
          .left
          .middle
            %a{:href => '#'} По местоположению
          .right
        .button_gray
          .left
          .middle
            %a{:href => '#'} По интересам
          .right
        .to_big_map
          %a{:href => '/search_map'} &nbsp;
    .bdy
      .recomed_popup
        %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
          %thead
            %tr
              %th.header_grey Рекомендуемые места
              %th.al_right
                %a{:href => '#'}
                  %img{:src => '/assets/explorer/cross.png', :style => 'vertical-align:middle;'}
          %tbody
            - {0 =>{:name => "Mai Tai Lounge", :link => "#", :address => "ул. Большая Васильевская, 5", :stars => "5"}, 1 =>{:name => "B-hush", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars => "4"}, 2 =>{:name => "Икра", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars => "2"} }.each do |key, value|
              %tr
                %td
                  %a.header_blue{:href => value[:link]}
                    = value[:name]
                  %p.text_grey
                    = value[:address]
                %td.al_right
                  .small_stars{:class => "stars#{value[:stars]}"}
  = render :partial => "advertising", :locals => {}
  .border
  .middle_module
    .three_blocks
      - restaurants = {:header => "Рестораны", :main => {:name=>'Comme II Faut',:image_path => "/assets/explorer/photo1.png", :link =>"#", :stars =>"5", :address => 'ул. Большая Житомировская, 2а'}, :others => {0 => {:name => "Mai Tai Lounge", :link => "#", :address => "ул. Большая Васильевская, 5", :stars =>"5"}, 1 => {:name =>"B-hush", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars =>"4"}, 2 => {:name =>"Икра", :link => "#", :address => "ул. Олеся Гончара, 67", :stars =>"3"}, 3 => {:name =>'Люди. CasualFood', :link => "#", :address => "ул. Большая Васильевская, 6", :stars =>"2"}}, :footer => {:name => "Рестораны", :link => "#"}}
      = render :partial => "entertainment", :locals => restaurants

      - night_life = {:header => "Ночная жизнь", :main => {:name=>'Crystal Hall',:image_path => "/assets/explorer/photo2.png", :link =>"#", :stars =>"4", :address => 'Днепровский спуск, 1'}, :others => {0 => {:name => "Mai Tai Lounge", :link => "#", :address => "ул. Большая Васильевская, 5", :stars =>"5"}, 1 => {:name =>"B-hush", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars =>"4"}, 2 => {:name =>"Икра", :link => "#", :address => "ул. Олеся Гончара, 67", :stars =>"3"}, 3 => {:name =>'Люди. CasualFood', :link => "#", :address => "ул. Большая Васильевская, 6", :stars =>"2"}}, :footer => {:name => "Ночная жизнь", :link => "#"}}
      = render :partial => "entertainment", :locals => night_life

      - hotels_tourism = {:header => "Рестораны", :main => {:name=>'InterContinental Kiev',:image_path => "/assets/explorer/photo3.png", :link =>"#", :stars =>"5", :address => 'ул. Большая Житомировская, 7'}, :others => {0 => {:name => "Mai Tai Lounge", :link => "#", :address => "ул. Большая Васильевская, 5", :stars =>"5"}, 1 => {:name =>"B-hush", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars =>"4"}, 2 => {:name =>"Икра", :link => "#", :address => "ул. Олеся Гончара, 67", :stars =>"3"}, 3 => {:name =>'Люди. CasualFood', :link => "#", :address => "ул. Большая Васильевская, 6", :stars =>"2"}}, :footer => {:name => "Ночная жизнь", :link => "#"}}
      = render :partial => "entertainment", :locals => hotels_tourism
    .border
      .entertain_module
        .header_grey Все развлечения
        %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
          %tbody
            %tr
              %td
                .icon.restor
                %a{:href => '#'} Рестораны
              %td
                .icon.hold_events
                %a{:href => '#'} Проведение событий
              %td
                .icon.auto
                %a{:href => '#'} Автомобили
              %td
                .icon.food_deliv
                %a{:href => '#'} Доставка еды
            %tr
              %td
                .icon.night_life
                %a{:href => '#'} Ночная жизнь
              %td
                .icon.beauty_health
                %a{:href => '#'} Краcота и здоровье
              %td
                .icon.health_med
                %a{:href => '#'} Здоровье и медицина
              %td
                .icon.gambling
                %a{:href => '#'} Азартные игры
            %tr
              %td
                .icon.food
                %a{:href => '#'} Еда
              %td
                .icon.art
                %a{:href => '#'} Искусство
              %td
                .icon.home_animals
                %a{:href => '#'} Домашние животные
              %td
                .icon.parents_childr
                %a{:href => '#'} Родители и дети
            %tr
              %td
                .icon.purchases
                %a{:href => '#'} Покупки
              %td
                .icon.sport_events
                %a{:href => '#'} Спортивные события
              %td
                .icon.real_estate
                %a{:href => '#'} Недвижимость
              %td
                .icon.educat
                %a{:href => '#'} Образование
            %tr
              %td
                .icon.hotels_tourism
                %a{:href => '#'} Гостиницы и туризм
              %td
                .icon.local_services
                %a{:href => '#'} Локальные сервисы
              %td
                .icon.finaces
                %a{:href => '#'} Финансы
              %td
                .icon.more
                %a{:href => '#'}
                  %span Еще
    .border
    .three_blocks.bottom
      - shopping = {:header => "Шоппинг", :main => {:name=>'Sanahunt',:image_path => "/assets/explorer/photo4.png", :link =>"#", :stars =>"5", :address => 'ул. Грушевского 16/8'}, :others => {0 => {:name => "Mai Tai Lounge", :link => "#", :address => "ул. Большая Васильевская, 5", :stars =>"5"}, 1 => {:name =>"B-hush", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars =>"4"}, 2 => {:name =>"Икра", :link => "#", :address => "ул. Олеся Гончара, 67", :stars =>"3"}, 3 => {:name =>'Люди. CasualFood', :link => "#", :address => "ул. Большая Васильевская, 6", :stars =>"2"}}, :footer => {:name => "Шоппинг", :link => "#"}}
      = render :partial => "entertainment", :locals => shopping

      - beauty_health = {:header => "Красота и здоровье", :main => {:name=>'MAJA',:image_path => "/assets/explorer/photo5.png", :link =>"#", :stars =>"4", :address => 'бул. Шевченко, 10'}, :others => {0 => {:name => "Mai Tai Lounge", :link => "#", :address => "ул. Большая Васильевская, 5", :stars =>"5"}, 1 => {:name =>"B-hush", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars =>"4"}, 2 => {:name =>"Икра", :link => "#", :address => "ул. Олеся Гончара, 67", :stars =>"3"}, 3 => {:name =>'Люди. CasualFood', :link => "#", :address => "ул. Большая Васильевская, 6", :stars =>"2"}}, :footer => {:name => "Красота и здоровье", :link => "#"}}
      = render :partial => "entertainment", :locals => beauty_health

      - food_delivery = {:header => "Доставка еды", :main => {:name=>'Oki-Doki',:image_path => "/assets/explorer/photo6.png", :link =>"#", :stars =>"5", :address => '(044) 466-64-44'}, :others => {0 => {:name => "Mai Tai Lounge", :link => "#", :address => "ул. Большая Васильевская, 5", :stars =>"5"}, 1 => {:name =>"B-hush", :link => "#", :address => "ул. Большая Житомирская, 2а", :stars =>"4"}, 2 => {:name =>"Икра", :link => "#", :address => "ул. Олеся Гончара, 67", :stars =>"3"}, 3 => {:name =>'Люди. CasualFood', :link => "#", :address => "ул. Большая Васильевская, 6", :stars =>"2"}}, :footer => {:name => "Красота и здоровье", :link => "#"}}
      = render :partial => "entertainment", :locals => food_delivery
  .right_module
    - review = {:header => {:title => "Рецензии", :buttons => {0 => {:name => "Новые",:link => "#",:class => "super_list"}} }, :body => { 0 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Лучшие места для спонтанного секса в Киеве", :link => "#" }, 1 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Подборка самых ярких мест для отдых на открытом воздухе во Львове", :link => "#" }, 2 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Бесплатные автостоянки Оболони", :link => "#" }, 3 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Куда сходить в новогоднюю ночь", :link => "#" } }, :footer => {:name => "Все рецензии", :link =>"#"}}
    = render :partial => "review", :locals => review

    - selection = {:header => {:title => "Подборка", :buttons =>{0 => {:name => "Новые",:link => "#", :class => "super_list"}} }, :body => { 0 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Лучшие места для спонтанного секса в Киеве", :link => "#" }, 1 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Подборка самых ярких мест для отдых на открытом воздухе во Львове", :link => "#" }, 2 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Бесплатные автостоянки Оболони", :link => "#" }, 3 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Куда сходить в новогоднюю ночь", :link => "#" } }, :footer => {:name => "Все рецензии", :link =>"#"}}
    = render :partial => "review", :locals => selection

  .four_rect
    - 4.times do
      .round_rect