.central_module.place
  .left_module
    .page_navigation
      .beginning
        %a{:href => '/'} &nbsp;
      .transition
      .middle
        %a{:href => '#'} Киев
      .transition
      .middle
        %a{:href => '#'} Путеводитель
      .transition
      .middle
        %a{:href => '#'} Рестораны
      .transition
      .middle
        %span Comme II Faut
      .end
    .facility
      .fac_type
      .fac_info
        %h1 Comme II Faut
        %p.descr Ресторан франзузской кухни
        %p.addr +38 (044) 219-1919, Киев , ул. Большая Житомирская, 2а
        %a{:href => 'http://intercontinental-kiev.com'} http://intercontinental-kiev.com
      .fac_label
    .review
      .orange_button
        .left
        .middle
          %a{:href => '#'} Добавить резензию
        .right
      .stars.large_stars.stars5
      %p.amnt 21 рецензия
      %p.ur_rate Ваша оценка:
      .users_rate.stars.large_stars.stars0
    .action_btns
      .act_btn.favorits
        .left
        .middle
          .lft_icon
          %a{:href => '#'} Добавить в избранное
          .rght_icon
        .right
      .act_btn.add_plans
        .left
        .middle
          .lft_icon
          %a{:href => '#'} Добавить в планы
          .rght_icon
        .right
      .act_btn.check_in
        .left
        .middle
          .lft_icon
          %a{:href => '#'} Отметиться
          .rght_icon
        .right
      .act_btn.share
        .left
        .middle
          .lft_icon
          %a{:href => '#'} Поделиться
          .rght_icon
        .right
    .map
    .facil_lists
      %ul.left_list
        %li График работы: <span>11:00 - 24:00</span>
        %li Кухня: <span>франзузская</span>
        %li Платежные карты: <span>MasterCard/EuroCard, Visa</span>
        %li Развлечения: <span>TV/Video, Wi-Fi, Презентации</span>
        %li Музыка: <span>фоновая</span>
        %li Парковка: <span>охраняемая, уличная</span>
      %ul.right_list
        %li Ценовая политика: <span class='dol'> $$$</span>
        %li Предложения: <span>банкеты, бесплатный Wi-Fi, бизнес-ланч,<br/>десерт-меню, карта вин</span>
        %li Платежные карты: <span>MasterCard/EuroCard, Visa</span>
        %li Развлечения: <span> TV/Video, Wi-Fi, презентации</span>
        %li Дополнительно: <span> банетный звл,кальян, летняя веранда,<br />столики для некурящих</span>
    .photos_module
      %h1.title Фотографии
      .btn
        .action_btns
          .act_btn
            .left
            .middle
              %a{:href => '#'} Добавить фото
            .right
      .photos
        .photo_wrap
          %img{:src => '/assets/places/photo4.png'}
        .photo_wrap
          %img{:src => '/assets/places/photo3.png'}
        .photo_wrap.vert
          %img{:src => '/assets/places/photo2.png'}
        .photo_wrap
          %img{:src => '/assets/places/photo1.png'}
        .all_photo
          %a{:href => '#'} Все фото
    .tabs_module
      %ul
        %li.eage
        %li{:block =>'review_block'} Заметки и рецензии
        %li{:block =>'about_block'} О заведении
        %li{:block =>'event_block'} События
        %li{:block =>'news_block'} Новости
        %li.last{:block =>'menu_block'} Меню
      .review_block.tabs_block{:style => 'display:block; '}
        .add_review
          %h1.title Добавить заметку
          .stars.large_stars.stars0
          .orange_button
            .left
            .middle
              %a{:href => '#'} Напишите рецензию
            .right
          %p.amnt Вы-эксперт?
        .div{:style => 'clear:both;'}
        .text_tools
          .photo
            %img{:src => '/assets/places/ava.png'}
          %textarea.custom{:maxlength => '200', :placeholder => 'Eugene, Вы можете добавить короткую заявку об этом месте. Расскажите об общем впечатлении в двух словах. Что думаете о сервисе? За что похвалить повара? А за что поругать интерьер? Расскажите!'}
        .published_button
          .act_btn.disabled
            .left
            .middle
              %a{:href => "#"} Опубликовать
            .right
          %p.amnt 140
        .div{:style => 'clear:both;'}
        .published_reviews
          %p{:style => 'padding-bottom:10px;'} Вот уже 3 заметки от посетителей
          %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
            %tbody
              - {0 => {:image_tag => "/assets/places/small_ava3.png", :name => "Eugene V.", :user_link => "#", :time => "вчера, 10:21", :descr => "Понравились устрицы с кристал", :stars => "5" }, 1 => {:image_tag => "/assets/places/small_ava1.png", :name => "Nastya", :user_link => "#", :time => "17 февраля, 9:45", :descr => "Сюда часто захаживают красивые девушки, да и атмосфера приятная", :stars => "4" },2 => {:image_tag => "/assets/places/small_ava2.png", :name => "	Krystyna B", :user_link => "#", :time => "вчера, 10:21", :descr => "Советую попробовать анти-цезарь))очень интересное сочетание!!!", :stars => "2" } }.each do |key,value|
                %tr
                  %td.photo
                    %img{:src => value[:image_tag]}
                  %td.info
                    %a{:href => value[:user_link]}
                      = value[:name]
                    %p.amnt
                      = value[:time]
                    %p.comment
                      = value[:descr]
                  %td.rate
                    .small_stars{:class => "stars#{value[:stars]}"}
      .about_block.tabs_block{:style => 'display:none;'}
        %h1.title Описание
        %p Comme Il Faut – ресторан французской кухни, созданный в духе знаменитого парижского ресторана Café de la Paix в InterContinental Paris Le Grand.
        %p Ресторан Comme il faut порадует настоящих ценителей французской и европейской кухни самыми изысканными блюдами.
        %p Элегантный интерьер в сочетании с неповторимым меню и эксклюзивной картой вин и коньяков делают Comme il faut идеальным местом для встреч с друзьями и бизнес-партнерами. Богемная атмосфера старого Парижа с ноткой современных тенденций - то, чего так давно ждал Киев.
      .event_block.tabs_block{:style => 'display:none;'}
        %h1.title События
        %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
          %tbody
            - {0 => {:day_numbr => "23", :dayof_week => 'пятница', :month => "сентября", :image_tag => "/assets/places/events_photo1.png",:title => "Вечер французской кухни",:link => "#" ,:event_type => "Вечеринка", :start_at => "начало в 22:00", :i_go_amnt => "5"},1 => {:day_numbr => "14", :dayof_week => 'четверг', :month => "февраля", :image_tag => "/assets/places/events_photo2.png",:title => "День всех влюбленных", :event_type => "Вечеринка", :start_at => "начало в 22:00", :i_go_amnt => "7"}, 2 => {:day_numbr => "14", :dayof_week => 'пятница', :month => "января", :image_tag => "/assets/places/events_photo3.png",:title => "Старый Новый год по-французски!", :event_type => "Вечеринка", :start_at => "начало в 22:00", :i_go_amnt => ""}}.each do |key, value|
              %tr
                %td.date
                  %h1.big_numbr
                    = value[:day_numbr]
                  %p.month
                    = value[:month]
                  %p.week_day
                    = value[:dayof_week]
                %td.image
                  %img{:src => value[:image_tag]}
                %td.info
                  %a{:href => value[:link]}
                    = value[:title]
                  %p.evnt_type
                    = value[:event_type]
                  %p.beg_time
                    · #{value[:start_at]}
                - if value[:i_go_amnt] != ""
                  %td
                    %img.algn_rght{:src => '/assets/places/i_go.png'}
                    %p.amnt.algn_rght
                      = value[:i_go_amnt]
                - else
                  %td{:style => "visibility:hidden"}
                    %img.algn_rght{:src => '/assets/places/i_go.png'}
                    %p.amnt.algn_rght
      .news_block.tabs_block{:style => 'display:none;'}
        %h1.title Новости
        %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
          %tbody
            - {0 => {:image_tag => "/assets/places/news_photo1.png", :title => "Декабрьский коньячный ужин", :link => "#", :date => "5 декабря, 11:02", :descr =>"8 декабря ресторан Comme Il Faut проводит эксклюзивный коньячный ужин, организованный P.H. и местными экспертами в области…"}, 1 => {:image_tag => "/assets/places/news_photo2.png", :title => "В Киев приедет сестра Бейонсе Соланж Ноулз", :link => "#", :date => "8 Ноября, 9:49", :descr =>"18 ноября панорамный лаунж-бар b-hush отеля InterContinental Kiev соберет друзей отпраздновать свое двухлетие. Специальный…"}, 2 => {:image_tag => "/assets/places/news_photo3.png", :title => "Признание в любви от Алексея Чадова", :link => "#", :date => "2 Марта, 11:58", :descr =>"Главные столицы мира от Нью-Йорка до Москвы не раз признавались в любви Киеву. Именно в праздничный день 8 марта,…"}}.each do |key, value|
              %tr
                %td.image
                  %img.algn_rght{:src => value[:image_tag]}
                %td.info
                  %a{:href =>value[:link]}
                    = value[:title]
                  %p.beg_time
                    = value[:date]
                  %p.descr
                    = value[:descr]
      .menu_block.tabs_block{:style => 'display:none;'}
        %h1.title Меню
        %p{:style =>'text-align:left; padding-top:20px;'} No content
  .right_module
    .statistic_module
      .wrap
        .favr
          %img{:src => '/assets/global/b_favr.png'}
          %p Добавмли<br /> в избранное
          %h1 29
        .plan_visit
          %img{:src => '/assets/global/b_plan_visit.png'}
          %p Планируют<br /> посетить
          %h1 37
        .checked_in
          %img{:src => '/assets/global/b_check_in.png'}
          %p Отметились<br /> в заведении
          %h1 9
    .sidebar.sidebar_stars.near_place{:style => 'width:300px;margin-bottom:20px;'}
      .header_gray
        %span.title
          Места поблизости
        .buttom_second.map
          .back_left
            .back_right
              .back_center
                %img{:src => '/assets/global/map.png'}
        .buttom_second.list.active
          .back_left
            .back_right
              .back_center
                %img{:src => '/assets/global/list.png'}
      .points_bottom.cf.first
        %img{:src => '/assets/foto/acumari.jpg'}
        .description
          .header_blue
            Ацумари
          .big_numb_stars
            .big_stars.stars4
            .number
              32
          .text
            ул. Богдан Хмельницко, 5 (2 км.)
      - {0 => {:title => "Mai Tai Lounge", :link =>"#", :address => "ул. Больная Васильковая, 5 (2 км.)", :stars => "5", :votes =>"10"},1 => {:title => " B-hush", :link =>"#", :address => "ул. Больная Васильковая, 5 (2 км.)", :stars => "5", :votes =>"12"},2 => {:title => " Икра", :link =>"#", :address => "ул. Больная Васильковая, 5 (2 км.)", :stars => "5", :votes =>"23"},3 => {:title => "Люди.CasualFood", :link =>"#", :address => "ул. Больная Васильковая, 5 (2 км.)", :stars => "1", :votes =>"23"}}.each do |key, value|
        .points_bottom
          %a.header_blue{:href => value[:link]}
            = value [:title]
          .numb_stars
            .small_stars{:class => "stars#{value[:stars]}"}
            .number
              = value[:votes]
          .text
            =value[:address]
      .link_gray.cf
        %a{:href => '#'} Показать все
    = render :partial => "advertising", :locals => {}
    - selection = {:header => {:title => "Упоминается в 12 списках", :buttons => {} }, :body => { 0 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Лучшие места для спонтанного секса в Киеве", :link => "#" }, 1 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Подборка самых ярких мест для отдых на открытом воздухе во Львове", :link => "#" }, 2 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Бесплатные автостоянки Оболони", :link => "#" }, 3 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Лучшие места для спонтанного секса в Киеве", :link => "#" } }, :footer => {:name => "Показать всех", :link =>"#"}}
    = render :partial => "review", :locals => selection