.event_block.tabs_block{:style => 'display:none;'}
  %h1.title События
  %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
    %tbody
      - @place.events.each do |event|
        %tr
          %td.date
            %h1.big_numbr
              = event.start_at.day
            %p.month
              = l event.start_at, format: :only_month
            %p.week_day
              = l event.start_at, format: :only_wday
          %td.image
            %img{:src => event.picture}
          %td.info
            =link_to event.title, "#"
            %p.evnt_type
              = event.kind
            %p.beg_time
              ·
              начало в
              = l event.start_at, format: :only_time
            %td
              %img.algn_rght{:src => '/assets/places/i_go.png'}
              %p.amnt.algn_rght 5
