- @places.each do |place|
  .show_result.cf
    .foto_result
      %img{:src => place.picture}
    .description
      .header_blue
        =link_to place.name, place_path(place)
      .category= place.category.name
      .address= place.address
    .user_description.cf
      .big_stars{class:"stars#{place.rating.round.to_i}"}
      %img.ffuu{:src => '/assets/ffuu.png'}
      .review_result
        = place.reviews.count
        = Review.model_name.human(count: place.reviews.count)
      .help
        139 подсказок
      .user_result_fotos
        - place.reviews.map{|r| r.user.photo}.each do |photo|
          %img{:src => photo }
- if @next_page_path.present?
  = link_to "Еще", @next_page_path, id: "more_places_link"