#reviews.review_block.tabs_block{:style => 'display:block; '}
  - if (current_user.reviews & @place.reviews).empty? # if user already write a review
    = form_for @place do |f|
      .add_review
        %h1.title Заметки
        .orange_button
          .left
          .middle
            %a{:href => '#'} Напишите рецензию
          .right
        %p.amnt Вы-эксперт?
      .div{:style => 'clear:both;'}
      = f.fields_for :reviews, @place.reviews.build(user_id: current_user.id) do |r|
        .text_tools
          .photo
            %img{:src => current_user.photo }
          = r.hidden_field :user_id
          = r.text_area :body, class: 'custom', maxlength: '200', placeholder: "#{current_user.name.capitalize}, Вы можете добавить короткую заявку об этом месте. Расскажите об общем впечатлении в двух словах. Что думаете о сервисе? За что похвалить повара? А за что поругать интерьер? Расскажите!"
      .published_button
        .act_btn.enabled
          .left
          .middle= link_to "Опубликовать", "", id: "submit_review", style: "cursor:pointer;"
          .right
        %p.amnt 140
      .div{:style => 'clear:both;'}
  .published_reviews
    %p{:style => 'padding-bottom:10px;'}
      Вот уже
      = @place.reviews.count
      = Review.model_name.human(:count => @place.reviews.count)
      от посетителей
    %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
      %tbody
        - @place.reviews(true).each do |review|
          %tr
            %td.photo
              %img{ src: review.user.photo, width: '32px', heigth: '32px' }
            %td.info
              =link_to review.user.name, '#'
              %p.amnt
                = time_ago_in_words(review.created_at, Time.now)
                назад
              %p.comment= review.body